@model gantt_rest_net.Data.student

@{
    ViewBag.Title = "AddStudent";   
}


<!DOCTYPE html>
<html>

<head>
    <title>Thesis Management Software</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="~/style/style.css" title="style" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/themes/new.css" rel="stylesheet" />
    <link href="~/Content/themes/newmin.css" rel="stylesheet" />
    <link href="~/Content/themes/base/morris.css" rel="stylesheet" />
    <link href="~/Content/themes/font.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.min.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .table {
            background-color: transparent;
        }

        #main, #logo, #menubar, #site_content, #footer {
            margin-left: auto;
            margin-right: auto;
        }

        #footer {
            height: 62px;
        }
          .logout {
            position: relative;
            text-align: right;
            margin: auto;
            color: black;
        }
    </style>
</head>
<body>

    <div id="main">
        <div id="header">
            <div class="container-fluid">

            </div>
            <div class="logout">
                <a style="color:white; font-size:medium" href=@Url.Action("Logout","Account")>Çıkış Yap</a>
            </div>

            <div id="logo">

                <br /><br>
                <h2 style="color:white; text-align:center">Dokuz Eylül Üniversitesi</h2>


                <div id="logo_text">

                    <!-- class="logo_colour", allows you to change the colour of the text -->

                </div>
            </div>
        </div>
            
    <div id="menubar">
        <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            <li><a style="height:72px" href="@Url.Action("AddStudent", "Admin")">Öğrenci Ekle</a></li>
            <li><a style="height:72px" href="@Url.Action("ListProjects", "Admin")">Projeleri Listele</a></li>
        </ul>
    </div>

    </div>
        <div id="site_content" style=" width: 898px; height: 100%;">

            <div id="content">
                <!-- insert the page content here -->
                <div class="container">

                    <div class="col-lg-8 col-md-6 col-sm-12 text-center">

                        <h2>Öğrenci Ekle</h2>

                    </div>
                </div>
                @using (Html.BeginForm("AddStudent", "Admin", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group" >
                            <div class="control-label col-md-2">
                                <label for="label">Adı</label>
                            </div>
                           
                            <div class="col-sm-3" style="text-align:left">
                        
                                @Html.EditorFor(model => model.studentName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.studentName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group" >
                           
                            <div class="control-label col-md-2">
                                <label for="label">Soyadı</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.studentSurname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.studentSurname, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                          
                            <div class="control-label col-md-2">
                                <label for="label">Email</label>
                            </div>
                             <div class="col-sm-3">
                                @Html.EditorFor(model => model.studentEmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.studentEmail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                           
                            <div class="control-label col-md-2">
                                <label for="label">Şifre</label>
                            </div>
                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.studentPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.studentPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-3">
                                <input type="submit" value="Öğrenci Ekle" class="btn btn-block" />
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
        <div id="content_footer"></div>
        <div id="footer">
            Copyright &copy; @*colour_blue*@
        </div>

</body>
</html>

<script src="js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- Morris Charts JavaScript -->
<script src="js/plugins/morris/raphael.min.js"></script>
<script src="js/plugins/morris/morris.min.js"></script>
<script src="js/plugins/morris/morris-data.js"></script>
<script src="~/Scripts/bootstrap.js"></script>

